---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import LinkCard from "@/components/mdx/LinkCard.astro";
import FriendCard from "@/components/mdx/FriendCard.astro";
import wjqAvatar from '../assets/Friends_wjq.jpg'; // 假设图片在 src/assets 目录下
import lzpAvatar from '../assets/Friends_lzp.jpg'; 
import cxyAvatar from '../assets/Friends_cxy.jpg'; 
import wswAvatar from '../assets/Friends_wsw.jpg'; 
import qljAvatar from '../assets/Friends_qlj.jpg'; 
import xyhAvatar from '../assets/Friends_xyh.jpg'; 
---

<BaseLayout title="Friends">
  <MainCard
    title="Friends"
    description="Friends are fixed points of time."
    infoIcon="lucide:link"
  >
    <div class="space-y-10">
      <!-- Friends Section -->
      <section>
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:users" class="w-6 h-6 text-primary" />
          <span>Friends</span>
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
          <FriendCard
            name="王嘉琦"
            avatar={wjqAvatar}
            description="Ram"     
            type="friend"
          />
          <FriendCard
            name="刘子芃"
            avatar={lzpAvatar}
            description="芃芃其麦"
            type="friend"
          />
          <FriendCard
            name="陈向阳"
            avatar={cxyAvatar}
            description="Brain Storm!"
            type="friend"
          />
          <FriendCard
            name="王姝威"
            avatar={wswAvatar}
            description="大哥"
            type="friend"
          />
          <FriendCard
            name="齐良骏"
            avatar={qljAvatar}
            description=""
            type="friend"
          />
          <FriendCard
            name="徐毅豪"
            avatar={xyhAvatar}
            description="Albert Xu. "
            url="https://delixi199.github.io/"
            type="friend"
          />
        </div>
      </section>

      <div class="divider my-8">
        <Icon name="lucide:heart" class="w-10 h-10 text-primary" />
      </div>

      
    </div>
  </MainCard>
</BaseLayout>
